body {
  margin: 0;
  padding: 0 ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  padding:60px;
  height:90vh;
  background:lightblue;
}
.steps-container {
  width:60%;
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.steps-item {
  padding: 5px;
  min-height: 80px;
}



